<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VegiJ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("VegiJ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><span class="fa fa-home"></span> Home</a></li>
                    <li><a href="@Url.Action("About", "Home", new { area = "" })"><span class="fa fa-info-circle"></span> About</a></li>
                    <li><a href="@Url.Action("Contact", "Home", new { area = "" })"><span class="fa fa-paper-plane"></span> Contact</a></li>
                    <li><a href="@Url.Action("Index", "Recipes", new {area = ""})"><span class="fa fa-leaf"></span> Recipes</a></li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="fa fa-magic"></span> Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu inverse-dropdown">
                                <li><a href="@Url.Action("Index", "UsersEditing", new {area = "Administration"})"><span class="fa fa-users"></span> Users </a></li>
                                <li><a href="@Url.Action("Index", "TipsEditing", new {area = "Administration"})"><span class="fa fa-lightbulb-o"></span> Tips</a></li>
                                <li><a href="@Url.Action("Index", "EventsEditing", new {area = "Administration"})"><span class="fa fa-calendar"></span> Events</a></li>
                                <li><a href="@Url.Action("Index", "RecipesEditing", new {area = "Administration"})"><span class="fa fa-leaf"></span> Recipes</a></li>
                            </ul>
                        </li>
                        
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - VegiJ</p>
        </footer>
    </div>
</body>
</html>
